<div class="task-page mat-elevation-z4">
  <div class="task-header">
    <h1 class="main-title">Tareas</h1>
    <button mat-raised-button color="primary" (click)="logout()">Cerrar Sesión</button>
  </div>

  <div class="task-content">
    <!-- Formulario de Agregar o Editar Tarea -->
    <mat-card class="task-form-container mat-elevation-z2">
      <mat-card-title>{{ isEditMode ? 'Editar Tarea' : 'Agregar Tarea' }}</mat-card-title>
      <form [formGroup]="taskForm" (ngSubmit)="isEditMode ? updateTask() : addTask()" class="task-form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Título</mat-label>
          <input matInput formControlName="title" required>
          <mat-error *ngIf="taskForm.get('title')?.hasError('required')">El título es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="description" required>
          <mat-error *ngIf="taskForm.get('description')?.hasError('required')">La descripción es requerida</mat-error>
        </mat-form-field>

        <div class="form-actions">
          <button mat-raised-button color="accent" type="submit" [disabled]="taskForm.invalid">
            {{ isEditMode ? 'Actualizar Tarea' : 'Agregar Tarea' }}
          </button>
          <button *ngIf="isEditMode" mat-raised-button color="warn" type="button" (click)="cancelEdit()">Cancelar</button>
        </div>
      </form>
    </mat-card>

    <!-- Lista de Tareas -->
    <mat-card class="task-list-container mat-elevation-z2">
      <mat-card-title>Lista de Tareas</mat-card-title>
      <div class="task-list">
        <mat-card *ngFor="let task of tasks" class="task-card">
          <div class="task-header">
            <mat-checkbox class="task-checkbox" [checked]="task.completed" (change)="toggleTaskCompletion(task)">
              {{ task.title }}
            </mat-checkbox>
            <div class="task-actions">
              <button mat-icon-button color="primary" (click)="editTask(task)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <p class="task-description">{{ task.description }}</p>
          <div class="task-footer">
            <span class="task-date">Fecha de creación: {{ task.createdAt | date:'medium' }}</span>
          </div>
        </mat-card>
      </div>
    </mat-card>
  </div>
</div>
