@import "assets/styles/theme";

// Estilos básicos para el proyecto
html,
body {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: $background-gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: $text-color-dark;
}
